.buy-now-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.product-image {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    flex-basis: 50%;
    padding: 20px;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-price {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    text-decoration: none;
    background-color: white; 
    color: black;
    border: 1px solid #8f8f8fb9;   
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}
.add-to-cart-btn:hover{
    border: 2px solid #8f8f8fb9;   }
.payment-options {
    margin-bottom: 20px;
}
@media (max-width: 500px) {
    .buy-now-container {
      flex-direction: column;
      align-items: center;
      padding: 20px; /* Reduced padding for smaller screens */
    }
  
    .product-image {
      flex-basis: auto; /* Allow the image container to size itself based on its content */
      width: 100%; /* Use the full width of the container */
      justify-content: center; /* Center the image horizontally */
      align-items: center; /* Center the image vertically */
      margin: 0; /* Reset any margins */
    }
  
    .product-image img {
      width: auto; /* Allow the image to maintain its aspect ratio */
      max-width: 100%; /* Limit the image width to the width of its container */
      height: auto; /* Allow the image height to scale based on its width */
    }
  
    .product-details {
      width: 100%; /* Full width of the container */
      padding: 10px; /* Adjust padding as needed */
    }
  
    /* Other styles as needed */
  }
  