/* Basic Layout */
.sideBarContainer{
  width:15% ;
}
.sidebar {
    width: 100px; /* Adjust width as needed */
    background-color: #f8f8f8; /* Light background for the sidebar */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    overflow-y: auto; /* Scrollable if content is long */
  }
  
  /* Typography */
  .sidebar h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  /* Styling for inputs, selects, and buttons */
  .sidebar input[type="number"],
  .sidebar input[type="text"],
  .sidebar select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .sidebar input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .sidebar label {
    display: block;
    margin-bottom: 10px;
  }
  
  .sidebar .card-btn {
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .sidebar .card-btn:hover {
    background-color: #0056b3; /* Darker shade for hover */
  }
  
  /* Adjust the main content area */
  .main-content {
    margin-left: 270px; /* Adjust based on sidebar width */
    padding: 20px;
  }
  