/* Search Bar Styling */

.searchb{
  display:flex;
  justify-content: center;
  margin: 2.2% 0;
  
}
.search-container {
margin: 0;
width:100%;
 justify-content: center;
  display: flex;
  gap: 10px;
  text-align: center;
}

.search-input {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  width:32%;
  margin-bottom: 15px;
}

.search-button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.search-button:hover {
  background-color: #333;
}

/* Adjust Main Content Area */
/* Initial state of the main content area with a margin */
.Shop {
  transition: margin-left 0.5s; /* Smooth transition for the margin change */
  padding: 20px;
margin:0px;

}
/* State of the main content area when sidebar is hidden */
.Shop.expanded {
  margin-left: 0; /* Remove the margin to allow content to expand */
}

/* Hidden state for the sidebar for animation */
.sidebar.hidden {
  width: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  transition: width 0.5s, padding 0.5s; /* Smooth transition for width and padding */
}

.pageContent{
  display: flex;

  padding: 10px;
}
/* Responsive Design for Sidebar */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .Shop {
    margin-left: 0;
  }
}

/* Additional Styling as needed */
/* ... */

.topbanner{
  display: flex;
  width:100%;
  height: .5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  justify-content: flex-end;
  align-items: center;
  

}
.topbanner p{
  padding:5%;

  color:white; 
 font-size: larger;
}
body{
  background-color: hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
  margin: 0px;

  text-decoration: none;


}

h1{
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h1>img{
  display: block;

}
header {

  position: relative;
  text-align: center;
}

.icon-container {
  position: absolute;
  top: 50%;
  right:18%; /* You can adjust this value */
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}
/* The overall background of the popup, which also dims the content behind */
.popup-container {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Using flex to center the child elements */
  align-items: center; /* Aligns vertically center */
  justify-content: center; /* Aligns horizontally center */
  z-index: 1000; /* Ensures it sits above other content */
}

/* The styling for the popup message box */
.popup-message {
  background-color: #fff; /* White background to match the site's clean aesthetic */
  padding: 25px 40px; /* Luxurious spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  border-radius: 5px; /* Subtle rounded corners */
  font-family: 'Montserrat', sans-serif; /* Consistent with the website */
  color: #333; /* Dark grey text for contrast against the white background */
  font-size: 1rem; /* Suitable font size */
  text-align: center; /* Centered text */
  border: 1px solid #ccc; /* Light border for a subtle definition */
}

/* The close button styling */
.popup-message button {
  margin-left: 12px;
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Comfortable padding */
  background-color: #333; /* Dark button for elegance */
  color: #fff; /* White text for legibility */
  font-family: 'Montserrat', sans-serif; /* Maintain font consistency */
  font-weight: bold; /* Bold text to make it stand out */
  border-radius: 3px; /* Matching the site's button style */
  cursor: pointer; /* Cursor to indicate it's clickable */
  border: none; /* Remove default border */
  transition: background-color 0.3s ease; /* Smooth transition for interaction */
}
/* Hover effect for button */
.popup-message button:hover {
  background-color: #555; /* Slightly lighter on hover for an interactive feel */
}
.icon-container .icon:nth-child(2){
  width: 10px;
  height: 10px;
}
.icon {
  width: auto;
  height: 25px;
}
header >img {
  display:block;
  margin-left: auto;
  margin-right: auto;

}
.search-icon-button{
  border:none;
  background-color: white;;
}
nav ul {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 0;
  color: #000;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative; /* Context for the absolute positioning of the pseudo-element */
  padding-left: 1%; /* Adjust as needed, gives space for the line on the left */
  padding-right: 1%; /* Adjust as needed, gives space for the line on the right */
}

/* Add a right border to all li elements except the last one */
nav li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid #000000;
  margin-left: 50%; /* This will effectively center the line between li elements */
  height: 100%; /* Adjust the height if you want the line to be shorter */
}

article{
  margin:0px;
  padding:0px;
}
.buyNow{
  margin-left: 5%;
  font-weight: bolder;
}
nav a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}
.shipping{
  display: flex;
  justify-content: center;
  background-color: rgb(1, 0, 7);
  height: 5%;
  margin:0;
 color:rgb(255, 255, 255);
 font-family: 'Montserrat', sans-serif;
width:100%;
 border-bottom: 2px solid #000000;
 font-weight:500;
}
.cart-badge {
  position: absolute;
  top: 13px; /* Adjust as needed */
  right: 42px; /* Adjust as needed */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}


.banner{
  display:flex;
  align-items: flex-end;
  background-image: url("../image/necklace.jpeg") ;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 25rem;
width: auto;
}
.banner div{
 text-align: center;
  align-items: center;
  height:15% ;
  width: 100%;
margin: 0;
align-items: baseline;
background-color: rgba(0, 0, 0, 0.947);
color: white;
}
.titleContainer{
  display: flex;
}
.square2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030510;
  height: 27rem;
  margin: 1% 0;
  width: 50vw;
  color: #ffffff; /* Assuming white text for contrast */
  padding: 2rem; /* Add some padding inside the square */
}

.square2-content {
  text-align: center; /* Center the text */
}

.square2 h1 {
  font-size: 2.5rem; /* Large font size for the heading */
  margin-bottom: 1rem; /* Space below the heading */
}

.square2 p {
  font-size: 1.2rem; /* Readable font size for the paragraph */
  margin-bottom: 2rem; /* Space below the paragraph */
}




.titleBckNecklace{
 
  background-image: url('../image/216299211_m.png');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}
.titleBckRing{
 
  background-image: url('../image/214743445_l.jpg');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}

.titleBckEarring{
  background-image: url('../image/209940512_l.jpg');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}

/* CSS Styles for the Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
width:100%;
  background-color: rgb(3, 3, 3);

  color:#ffffff;
}

footer div {
  margin-bottom: 20px;

}

.logo{
  margin-top: 10px;
  border-radius: 0px;
  
}
footer img {
  max-width: 100%;
  border-radius: 20%;
  
}
.footer-nav {
align-items:flex-start;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #585858; /* subtle border for separation */
  border-bottom: 1px solid #585858;
  background-color: rgb(16, 16, 16);
}
footer p {
  margin: 0;
  font-style: italic;
}

.special-offers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0px;
height: min-content;
  align-items: center;
  color:#ffffff;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer-links {
  width: 100%;
align-content: center;
  list-style: none;
  display: block;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(16, 16, 16);
}

.footer-links li {

  margin: 0 15px 15px 15px; /* Adjust spacing as needed */
}

.footer-links a {
  color: #7e7e7e; /* Footer link color */
  text-decoration: none;
  font-size: 16px; /* Adjust font size as needed */

  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffffff; /* Color change on hover */
}

.special-offers article {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.special-offers h2 {
  margin: 15px 0;
  font-size: 20px;
}

#num3{
  margin-bottom: 10px;
 

}
.special-offers p {
  font-size: 14px;
}
.special-offers-img {
  width: 100px; /* Adjust this value according to your needs */
  height: auto;

}

@media screen and (max-width: 500px) {
  .special-offers h2{
     font-size: 13px;
     text-align: center;
  
    }
   .special-offers p{
    font-size: 8px;
    text-align: center;
   }
   .special-offers-img {
    width: 40px; /* Adjust this value according to your needs */
    height: auto;
  
  }
  .icon-container {
    position: absolute;
    top: 50%;
    right:4%; /* You can adjust this value */
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
  }
  div .banner{
    height: 17vh;
  }
  nav li {
   
    display: inline-block;
    position: relative; /* Context for the absolute positioning of the pseudo-element */
    padding-left: 3%; /* Adjust as needed, gives space for the line on the left */
    padding-right: 3%; /* Adjust as needed, gives space for the line on the right */
  }
  nav ul a {
    font-size: small;
    margin: 0 5;
  }
  /* Add a right border to all li elements except the last one */
  nav li:not(:last-child)::after {

    border-right: none;
  
  }
  
  }