/* Search Bar Styling */

.searchb{
  display:flex;
  justify-content: center;
  margin: 2.2% 0;
  
}
.search-container {
margin: 0;
width:100%;
 justify-content: center;
  display: flex;
  gap: 10px;
  text-align: center;
}

.search-input {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  width:32%;
  margin-bottom: 15px;
}

.search-button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.search-button:hover {
  background-color: #333;
}

/* Sidebar Styles */
.sidebar {
  width: 5%; /* Sidebar takes up 25% of the viewport width */
  background-color: #fff; /* A clean, white background */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  height: 100vh;
  position: fixed;
 margin-left: 12px;
  top: 0;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif; /* Consistent font */

}

/* Sidebar Internal Elements Styling */
.sidebar h4 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 600; /* Slightly bolder titles */
}

.sidebar input[type="number"],
.sidebar input[type="text"],
.sidebar select {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.sidebar input[type="checkbox"] {
  margin-right: 10px;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
  color: #666; /* Slightly muted text color */
  font-size: 0.9rem;
}

/* Adjust Main Content Area */
/* Initial state of the main content area with a margin */
.Shop {
  transition: margin-left 0.5s; /* Smooth transition for the margin change */
  padding: 20px;

}

/* State of the main content area when sidebar is hidden */
.Shop.expanded {
  margin-left: 0; /* Remove the margin to allow content to expand */
}

/* Hidden state for the sidebar for animation */
.sidebar.hidden {
  width: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  transition: width 0.5s, padding 0.5s; /* Smooth transition for width and padding */
}

.pageContent{
  display: flex;

  padding: 10px;
}
/* Responsive Design for Sidebar */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .Shop {
    margin-left: 0;
  }
}

/* Additional Styling as needed */
/* ... */

.topbanner{
  display: flex;
  width:100%;
  height: .5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  justify-content: flex-end;
  align-items: center;
  

}
.topbanner p{
  padding:5%;

  color:white; 
 font-size: larger;
}
body{
  background-color: hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
  margin: 0px;

  text-decoration: none;


}

h1{
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h1>img{
  display: block;

}
header {

  position: relative;
  text-align: center;
}

.icon-container {
  position: absolute;
  top: 50%;
  right:18%; /* You can adjust this value */
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}
.icon-container .icon:nth-child(2){
  width: 10px;
  height: 10px;
}
.icon {
  width: auto;
  height: 25px;
}
header >img {
  display:block;
  margin-left: auto;
  margin-right: auto;

}
.search-icon-button{
  border:none;
  background-color: white;;
}
nav ul {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 0;
  color: #000;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative; /* Context for the absolute positioning of the pseudo-element */
  padding-left: 1%; /* Adjust as needed, gives space for the line on the left */
  padding-right: 1%; /* Adjust as needed, gives space for the line on the right */
}

/* Add a right border to all li elements except the last one */
nav li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid #000000;
  margin-left: 50%; /* This will effectively center the line between li elements */
  height: 100%; /* Adjust the height if you want the line to be shorter */
}


.buyNow{
  margin-left: 5%;
  font-weight: bolder;
}
nav a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}
.shipping{
  display: flex;
  justify-content: center;
  background-color: rgb(1, 0, 7);
  height: 2rem;
  margin:0;
 color:rgb(255, 255, 255);
 font-family: 'Montserrat', sans-serif;

 border-bottom: 2px solid #000000;
 font-weight:500;
}
.banner{
  display:flex;
  align-items: flex-end;
  background-image: url("../image/necklace.jpeg") ;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 25rem;
width: auto;
}
.banner div{
 text-align: center;
  align-items: center;
  height:15% ;
  width: 100%;
margin: 0;
align-items: baseline;
background-color: rgba(0, 0, 0, 0.947);
color: white;
}
.titleContainer{
  display: flex;
}
.square2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030510;
  height: 27rem;
  margin: 1% 0;
  width: 50vw;
  color: #ffffff; /* Assuming white text for contrast */
  padding: 2rem; /* Add some padding inside the square */
}

.square2-content {
  text-align: center; /* Center the text */
}

.square2 h1 {
  font-size: 2.5rem; /* Large font size for the heading */
  margin-bottom: 1rem; /* Space below the heading */
}

.square2 p {
  font-size: 1.2rem; /* Readable font size for the paragraph */
  margin-bottom: 2rem; /* Space below the paragraph */
}

.shop-now-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: gold; /* A luxurious button color */
  color: #030510; /* Text color for the button */
  text-decoration: none; /* Remove underline from the link */
  border: none;
  border-radius: 5px; /* Rounded corners for the button */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.shop-now-button:hover {
  background-color: #ffffff; /* Lighter color on hover */
  color: #030510;
}

.titleBckNecklace{
 
  background-image: url('../image/216299211_m.png');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}
.titleBckRing{
 
  background-image: url('../image/214743445_l.jpg');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}

.titleBckEarring{
  background-image: url('../image/209940512_l.jpg');
  display:flex;
  align-items: flex-end;
  background-color: #181d33;
  background-size:cover;
  background-repeat: no-repeat;
background-position:center;
height: 27rem;
width: 50vw;

margin:1% 0% 1% 0

}

/* CSS Styles for the Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #f8f8f8;
  color: #000000;

}

footer div {
  margin-bottom: 20px;

}
.logo{
  margin-top: 50px;
  border-radius: 0px;
  
}
footer img {
  max-width: 100%;
  border-radius: 20%;
  
}

footer p {
  margin: 0;
  font-style: italic;
}

.special-offers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
height: min-content;
  align-items: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.special-offers article {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.special-offers article:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:50px;
border-right:2px solid #000000;
border-left: 2px solid rgb(0, 0, 0);
}

.special-offers h2 {
  margin: 15px 0;
  font-size: 23px;
}
#num3{
  margin-bottom: 10px;
 

}
.special-offers p {
  font-size: 14px;
}
.special-offers-img {
  width: 50px; /* Adjust this value according to your needs */
  height: auto;
}